[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyrsistent = "*"
numpy = "*"
cython = "*"
pyparsing = "*"
mypy = "*"
pytest = "*"
future = "*"
hypothesis = "*"
pytest-xdist = "*"
pytest-mock = "*"

[dev-packages]
pytest = "*"
pytest-mypy = "*"
pytest-pylint = "*"
pytest-cov = "*"
pytest-sugar = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
pygments = "*"
pipenv = "*"
bump2version = "*"
